  <tr>

    <td>
      <%= item.product.name %>
    </td>
    <td>
      <%= item.product.price %>
    </td>

    <td>
      <%= item.product.quantity %>
    </td>
    <td>
      <%= item.total_price %>
    </td>
  </tr>

