
    <tr>
      <td>
        <p><%= category.id %></p>
      </td>
      <td>
        <p><%= category.name %></p>
      </td>
      <td>
        <p><%= category.created_at %></p>
      </td>
      <td>
        <p><%= category.updated_at %></p>
      </td>
    </tr>






